@tailwind base;

a {
	@apply text-blue-700;
}

a:hover {
	@apply underline;
}

.shiki {
	border-radius: 0.375rem;
	padding: 6px 4px;
	margin: 6px 4px;
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
	overflow-x: auto;
}

@tailwind components;

@tailwind utilities;
