.sunshineRaybackground {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -114514;
  top: 0px;
  left: 0px;
  background-color: #f6f6f4;
  overflow: hidden;

  &__sunshineRays {
    position: fixed;
    top: min(-45vh, -45vh);
    left: min(-45vh, -45vh);
    width: calc(max(100vh, 100vw) * 1.5);
    height: calc(max(100vh, 100vw) * 1.5);
    // width: 20px;
    // height: 20px;
    // left: min(-25vh, -25vw);
    // top: min(-25vh, -25vw);
    stroke-linecap: round;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
    animation-delay: 0s;

    > * {
      fill: none;
      transform-origin: 40px 40px;
    }

    &:nth-child(1) {
      animation-name: sunshineRaybackgroundanimateclockwise;
      stroke: aqua;
    }

    &:nth-child(2) {
      stroke: deeppink;
      animation-name: sunshineRaybackgroundanimatecounterclockwise;
    }
    &:nth-child(3) {
      animation-name: sunshineRaybackgroundanimateclockwise;
      stroke: chartreuse;
    }
    &:nth-child(4) {
      animation-name: sunshineRaybackgroundanimatecounterclockwise;
      stroke: lightpink;
    }
    &:nth-child(5) {
      animation-name: sunshineRaybackgroundanimateclockwise;
      stroke: lime;
    }
    &:nth-child(6) {
      animation-name: sunshineRaybackgroundanimatecounterclockwise;
      stroke: magenta;
    }
    &:nth-child(7) {
      animation-name: sunshineRaybackgroundanimateclockwise;
      stroke: #e7ff00;
    }

    &:nth-child(8) {
      animation-name: sunshineRaybackgroundanimatecounterclockwise;
      stroke: salmon;
    }

    &:nth-child(9) {
      animation-name: sunshineRaybackgroundanimateclockwise;
      stroke: violet;
    }
    &:nth-child(10) {
      animation-name: sunshineRaybackgroundanimatecounterclockwise;
      stroke: yellowgreen;
    }
  }

  @keyframes sunshineRaybackgroundanimatecounterclockwise {
    0% {
      transform: rotate(180deg);
      stroke-dasharray: 10px, 200px;
      stroke-dashoffset: 0px;
    }
    100% {
      transform: rotate(0deg);
      stroke-dasharray: 350px, 200px;
    }
  }

  @keyframes sunshineRaybackgroundanimateclockwise {
    0% {
      transform: rotate(-180deg);
      stroke-dasharray: 10px, 200px;
    }
    100% {
      transform: rotate(0deg);
      stroke-dasharray: 350px, 200px;
    }
  }
}
