.sunshineRaybackground {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -114514;
  top: 0px;
  left: 0px;
  background-color: #fefefe;
  overflow: hidden;

  &SunshineRays {
    position: fixed;
    top: min(-45vh, -45vh);
    left: min(-45vh, -45vh);
    width: calc(max(100vh, 100vw) * 1.5);
    height: calc(max(100vh, 100vw) * 1.5);
    stroke-linecap: round;
    animation-timing-function: ease-in-out;

    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-delay: 0s;

    circle {
      stroke-dashoffset: 10px;
      stroke-dasharray: 55px, 200px;
      fill: none;
      transform-origin: 40px 40px;
    }
  }

  svg:nth-child(1) {
    animation-name: sunshineRaybackgroundanimateclockwise;
    stroke: rgb(202, 255, 255);
  }
  svg:nth-child(2) {
    animation-name: sunshineRaybackgroundanimatecounterclockwise;
    stroke: rgb(255, 201, 230);
  }
  svg:nth-child(3) {
    animation-name: sunshineRaybackgroundanimateclockwise;
    stroke: rgb(234, 255, 212);
  }
  svg:nth-child(4) {
    animation-name: sunshineRaybackgroundanimatecounterclockwise;
    stroke: rgb(255, 224, 229);
  }
  svg:nth-child(5) {
    animation-name: sunshineRaybackgroundanimateclockwise;
    stroke: rgb(200, 255, 200);
  }
  svg:nth-child(6) {
    animation-name: sunshineRaybackgroundanimatecounterclockwise;
    stroke: rgb(255, 213, 255);
  }
  svg:nth-child(7) {
    animation-name: sunshineRaybackgroundanimateclockwise;
    stroke: #fbffda;
  }
  svg:nth-child(8) {
    animation-name: sunshineRaybackgroundanimatecounterclockwise;
    stroke: rgb(255, 220, 216);
  }
  svg:nth-child(9) {
    animation-name: sunshineRaybackgroundanimateclockwise;
    stroke: rgb(255, 231, 255);
  }
  svg:nth-child(10) {
    animation-name: sunshineRaybackgroundanimatecounterclockwise;
    stroke: rgb(242, 255, 215);
  }

  @media (prefers-reduced-motion: no-preference) {
    @keyframes sunshineRaybackgroundanimatecounterclockwise {
      0% {
        transform: rotate(180deg);
        stroke-dasharray: 10px, 200px;
      }
      50% {
        transform: rotate(0deg);
        stroke-dasharray: 40px, 200px;
      }
      100% {
        transform: rotate(180deg);
        stroke-dasharray: 10px, 200px;
      }
    }
    @keyframes sunshineRaybackgroundanimateclockwise {
      0% {
        transform: rotate(-180deg);
        stroke-dasharray: 10px, 200px;
      }
      50% {
        transform: rotate(0deg);
        stroke-dasharray: 40px, 200px;
      }
      100% {
        transform: rotate(-180deg);
        stroke-dasharray: 10px, 200px;
      }
    }
  }

  @media (prefers-reduced-motion: reduce) {
    @keyframes sunshineRaybackgroundanimatecounterclockwise {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes sunshineRaybackgroundanimateclockwise {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
