@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.recents {
  @include margin-bottom(1);
  position: relative;
  border-top: 1px solid #dedede;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0px;
    border: 0px solid $color-gray;

    li {
      margin: 0;
    }

    &-expandbutton {
      width: 100%;
      text-align: center;
      border: 0px solid $color-gray;
      position: absolute;
      bottom: 0px;
      background-color: rgba(255, 255, 255, 0.9);
    }

    &-item {
      &-link {
        font-size: smaller;
        color: $typographic-link-p-font-color;
        border: 0;

        &:hover,
        &:focus {
          color: $color-primary;
          border-bottom: 1px solid $color-primary;
        }

        &--active {
          color: $color-base;
          border-bottom: 1px solid $color-base;
        }
      }
    }
  }
}
