@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";
@import "./Menu/Menu.module.scss";

.sidebar {
  width: 100%;
  float: right;
  &__inner {
    position: relative;
    padding: 25px 20px 0;
  }
}

@include breakpoint-sm {
  .sidebar {
    position: sticky;
    top: 0px;
    lost-column: 1/4;
    &__inner {
      padding: 30px 20px 0;
      &::before {
        background: $color-gray-border;
        background: linear-gradient(
          to bottom,
          $color-gray-border 0%,
          $color-gray-border 48%,
          $color-white 100%
        );
        position: absolute;
        content: "";
        width: 1px;
        height: 540px;
        top: 30px;
        left: -10px;
        bottom: 0;
      }
    }
  }
}

@include breakpoint-md {
  .sidebar {
    position: sticky;
    top: 0px;
    lost-column: 1/4;
    &__inner {
      padding: 40px;
    }
  }
}

.title {
  @include margin-bottom(1);

  &__item {
    list-style: none;
    padding: 0;
    margin: 10px;

    &-link {
      font-size: $typographic-base-font-size;
      color: $typographic-base-font-color;
      font-weight: normal;
      border: 0;
      font-weight: bold;

      &:hover,
      &:focus {
        color: $color-primary;
        border-bottom: 1px solid $color-primary;
      }
    }
  }
}
