@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.page {
  @include margin-bottom(0);
  float: left;

  &__inner {
    padding: 1px 1px;
  }

  &__title {
    font-size: $typographic-base-font-size * 2.5;
    font-weight: 600;
    @include line-height(2);
    @include margin-top(0);
    @include margin-bottom(1.45);
  }

  &__body {
    font-size: $typographic-base-font-size;
    padding: 10px;
    @include line-height(1);
    @include margin(0, 0, 0);
  }

  &__home-button {
    display: block;
    width: fit-content;
    height: $button-height;
    padding: 0 24px;
    line-height: $button-height;
    text-align: center;
    color: $color-base;
    border: 1px solid $color-gray-border;
    border-radius: $button-border-radius;
    font-size: $typographic-base-font-size;
    font-weight: bolder;
    margin-right: auto;
    @include margin-top(1);
    @include margin-left(1);

    &:hover,
    &:focus {
      color: $color-primary;
    }
  }
}

@include breakpoint-xs {
  .page {
    width: 100%;
    &__inner {
      padding: 2% 2% 0%;
    }
  }
}

@include breakpoint-sm {
  .page {
    // lost-column: 20/27;
    width: calc(99.9% * 20 / 27);

    &__inner {
      padding: 30px 20px 30px 20px;
    }

    &__home-button {
      display: none;
    }
  }
}

@include breakpoint-md {
  .page {
    // lost-column: 20/27;
    width: calc(99.9% * 20 / 27);

    &__inner {
      padding: 40px 35px 40px 35px;
    }
  }
}
