@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.post {
  float: left;

  &__footer {
    max-width: $layout-post-width;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__comments {
    max-width: $layout-post-width;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__home-button {
    display: block;
    width: fit-content;
    height: $button-height;
    padding: 0 24px;
    line-height: $button-height;
    text-align: center;
    color: $color-base;
    border: 1px solid $color-gray-border;
    border-radius: $button-border-radius;
    font-size: $typographic-base-font-size;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    @include margin-top(1);

    &:hover,
    &:focus {
      color: $color-primary;
    }
  }
}

@include breakpoint-xs {
  .post {
    width: 100%;
  }
}

@include breakpoint-sm {
  .post {
    // lost-column: 20/27;
    width: calc(99.9% * 20 / 27);
  }
}

@include breakpoint-md {
  .post {
    // lost-column: 20/27;
    width: calc(99.9% * 20 / 27);
    &__footer {
      padding: 0;
    }

    &__comments {
      padding: 0;
    }
  }
}

.pagination {
  @include margin-bottom(2);
  display: flex;

  &__prev {
    width: 50%;
    text-align: left;

    &-link {
      color: $color-secondary;
      font-size: 26px;
      font-weight: bold;

      &:hover,
      &:focus {
        color: $color-primary;
      }

      &--disable {
        pointer-events: none;
        color: lighten($color-gray, 20%);
      }
    }
  }

  &__next {
    width: 50%;
    text-align: right;

    &-link {
      color: $color-secondary;
      font-size: 26px;
      font-weight: bold;

      &:hover,
      &:focus {
        color: $color-primary;
      }

      &--disable {
        pointer-events: none;
        color: lighten($color-gray, 20%);
      }
    }
  }
}
