@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.post {
  float: left;

  &Footer {
    // max-width: $layout-post-width;
    margin: 0 auto;
    padding: 0 15px;
  }

  &Comments {
    max-width: $layout-post-width;
    margin: 0 auto;
    padding: 0 15px;
  }

  &HomeButton {
    display: block;
    width: fit-content;
    height: $button-height;
    text-align: center;
    color: $color-base;
    font-size: $typographic-title-font-size;
    font-weight: bolder;
    @include margin(1, 1);

    &:hover,
    &:focus {
      color: $color-primary;
    }
  }
}

@include breakpoint-xs {
  .post {
    width: 100%;
  }
}

@include breakpoint-sm {
  .post {
    // lost-column: 20/27;
    width: calc(99.9% * 20 / 27);

    &HomeButton {
      display: none;
    }
  }
}

@include breakpoint-md {
  .post {
    // lost-column: 20/27;
    width: calc(99.9% * 20 / 27);
    &Footer {
      padding: 20px;
    }

    &Comments {
      padding: 0;
    }

    &HomeButton {
      display: none;
    }
  }
}

.pagination {
  @include margin-bottom(2);
  display: flex;

  &Prev {
    width: 50%;
    text-align: left;

    &Link {
      color: black;
      font-size: 26px;
      font-weight: bold;

      &:hover,
      &:focus {
        color: black;
        text-shadow: 1px 1px 1px white, -1px 1px 1px white, 1px -1px 1px white,
          -1px -1px 1px white, 1px 0px 1px white, 0px 1px 1px white,
          -1px 0px 1px white, 0px -1px 1px white;
        text-decoration: underline;
      }

      &Disable {
        color: black;
        pointer-events: none;
        color: lighten($color-gray, 20%);
      }
    }
  }

  &Next {
    width: 50%;
    text-align: right;

    &Link {
      color: black;
      font-size: 26px;
      font-weight: bold;

      &:hover,
      &:focus {
        color: black;
        text-shadow: 1px 1px 1px white, -1px 1px 1px white, 1px -1px 1px white,
          -1px -1px 1px white, 1px 0px 1px white, 0px 1px 1px white,
          -1px 0px 1px white, 0px -1px 1px white;
        text-decoration: underline;
      }

      &Disable {
        color: black;
        pointer-events: none;
        color: lighten($color-gray, 20%);
      }
    }
  }
}
